asgiref==3.2.7
cffi==1.14.0
cryptography==2.9.2
dj-database-url==0.5.0
Django==2.2.10
django-cors-headers==3.2.1
django-extensions==2.2.9
django-heroku==0.3.1
django-jet==1.0.8
django-perms==2.1.0
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
gunicorn==20.0.4
jwt==1.0.0
Pillow==7.1.0
psycopg2==2.8.4
psycopg2-binary==2.8.5
pycparser==2.20
PyJWT==2.4.0
python-decouple==3.3
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
whitenoise==5.0.1
